extends ./template/layout.pug

block custom_header
	// --------------- Header -------------- //
	script(type='text/javascript').
		$(document).ready(function(){

		});
		 
		
block navpanel
	// --------------- Navigation Bar  -------------- //
	include ./template/nav.pug
	
	
block content
	// --------------- Main Stuff  -------------- //
	#notificationWrap
	
	#contentPanel
		// --------------- Login Panel
		form#loginPanel(method="POST" action="/login")
			p 登录
			hr
			.login-box
				input(type="text" placeholder="账号" value="Joshua" name="username")
				button(type="submit") 登录