#homePanel.panel
	div
		#tips
			span 提示：通过将合约拖入“我的合约”窗口进行购买合约;通过 + 按钮新建合约


		#ownerWrap
			div#toolbarWrap
				//.bottomAlign
					input(type="text" placeholder="Search" style="margin-left: 0; border-radius:2px;")#searchUsers.longer
					span.hint(style="margin-left: 10px; font-size: 16px;") 
						span#foundUsers 0
						span /
						span#totalUsers 0

				button(disabled="disabled")#showStartupPanel
					span.fa.fa-gears
					span &nbsp; Setup
					
				span &nbsp;&nbsp;

				button(disabled="disabled")#showSettingsPanel
					span.fa.fa-gear
					span &nbsp; 设置
				
				#trashbin.sortable.innerMarbleWrap
					div.fa.fa-trash-o.fa-3x(style="vertical-align: middle;")
					span &nbsp;
					div#trashText 将我的合约拖入此处删除合约
			


		#allUserPanelsWrap
			#appStartingText 连接中...
		#myPanel
script(type='text/javascript').
	var showStartupPanel = !{JSON.stringify(showStartupPanel)};
	document.getElementById("showStartupPanel").style.display = showStartupPanel;

