#createPanel(hidden).panel
	
	span.fa.fa-close#closeCreate

	h2 Create Marble
	hr
	
	#innerWrap
		span.createball
			i
		form(action="/create" method="POST")#createform
			//legend 
			//input(type="hidden" name="name" placeholder="Name Your Marble")
			//span.hint &nbsp;&nbsp;RANDOM OR CUSTOM STRING
			
			//br
			legend
				input(type="text" placeholder="标的" name="target")
			legend 
				input(type="text" placeholder="全额" name="price")
			legend 
				input(type="text" placeholder="期限" name="term" id="selectDate" readonly="readonly")
			legend
				input(type="text" placeholder="执行价" name="execution")
			legend 
				input(type="text" placeholder="权利金" name="royalties")
			input(type="hidden" name="user" value="")
			input(type="hidden" name="company" value="")
			input(type="hidden" name="owner_id" value="")

			br
			br
			button(type="button")#createMarbleButton
				span.fa.fa-plus-circle &nbsp;&nbsp;
				span CREATE
