#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#auditLegend 权交历史记录
			#marbleIdWrap 
				span 期权合约
				div#marbleId -
			span.ball.largeMarble.bluebg.auditMarble
				i

		.txHistoryWrap
			.auditHint 点击查看它的交易记录