#logo 
	img(src="/imgs/logo.png")#logoIcon
	span onechain


#whoAmI
	//- span.fa.fa-user#userIcon
	img(src="/imgs/user.png")#userIcon
	span#userField #{username}
	span &nbsp;
	span.fa.fa-angle-down#carrot
	

	#userSelect
		#triangle
		a(href="/logout").userLine 登出
#title
	h1 场外期权交易平台